h2{

  background-color: #ff80ff;
  height: 100px;
  width: 400px;

}
header{
  background-color:  #ffff4d;
  height: 100px;
  width: 600px;

}
nav{

  background-color: #85e085;
  height: 100px;
  width: 600px;


}
main{
  background-color:  #ff9999;
  height: 500px;
  width: 400px;
}
  aside{
    background-color:  #80bfff;
    height: 500px;
    width: 200px;
  }
  footer{
    background-color:  #ff80ff;
    height: 100px;
    width: 600px;

  }
#mainwrapper{
  display:flex;
}
#wrapper{
width: 600px;
  margin-left: auto;
  margin-right: auto;
}
